############### HUGGINGFACE CONFIG ############
HUGGINGFACE_TOKEN=<your_HUGGINGFACE_TOKEN>

#################### AWS CONFIG ###############
AWS_ACCESS_KEY_ID=<your_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<your_AWS_SECRET_ACCESS_KEY>

AWS_REGION_NAME=<your_AWS_REGION_NAME>

###################### OPENAI #################
OPENAI_API_KEY=<your_OPENAI_API_KEY>
# for deepseek set the openai api key to the key of the deepseek
# for qwen set the openai api key to the key of the qwen

# for deepseek you must set the following base url
# BASE_URL=https://api.deepseek.com # set the base url to the deepseek api url
# for qwen you must set the following base url
# BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1 

EMBEDDINGS_API_KEY=<your_EMBEDDINGS_API_KEY>

##################### GOOGLE #################
GOOGLE_API_KEY=<your_GOOGLE_API_KEY>

###################### ANTHROPIC #################
ANTHROPIC_API_KEY=<your_ANTHROPIC_API_KEY>

###################### PINECONE #################
PINECONE_API_KEY=<your_PINECONE_API_KEY>
PINECONE_INDEX_NAME=<your_PINECONE_INDEX_NAME>
PINECONE_API_HOST=<your_PINECONE_API_HOST>

##################### LANGSMITH ###############
LANGCHAIN_TRACING_V2=<your_LANGCHAIN_TRACING_V2>
LANGCHAIN_PROJECT=<your_LANGCHAIN_PROJECT>
LANGCHAIN_API_KEY=<your_LANGCHAIN_API_KEY>

# SET TO TRUE TO ENABLE REASONING OUTPUTS OF THE EXPERIMENTS
REASONING=<your_REASONING>

###################### WATSONX #################
WATSONX_URL=<your_WATSONX_URL>
WATSONX_API_KEY=<your_WATSONX_API_KEY>
WATSONX_PROJECT_ID=<your_WATSONX_PROJECT_ID>
